@media (max-width:739px) {
    .content{
        width: 90%;
        left:5%;
        top:20%;
    }  
}

@media (min-width:740px) and (max-width:1023px) {
    .content{
        width: 90%;
        left:5%;
        top:20%;
    }  
}